<form [formGroup]="form">
    <mat-form-field class="example-full-width">
        <mat-label>Favorite food</mat-label>
        <input matInput placeholder="Ex. Pizza" value="Sushi">
    </mat-form-field><br>
    <mat-chip-list aria-label="Fish selection">
        <mat-chip>One fish</mat-chip>
        <mat-chip>Two fish</mat-chip>
        <mat-chip color="primary" selected>Primary fish</mat-chip>
        <mat-chip color="accent" selected>Accent fish</mat-chip>
      </mat-chip-list><br>
    <button mat-raised-button color="primary">Basic</button>
</form>